# Guardar Información en Bases de Datos Relacionales con SQLite3 en Python

In [17]:
import sqlite3
con = sqlite3.connect("archivos/database.db")

In [18]:
cur = con.cursor()

In [19]:
cur.execute("CREATE TABLE personas(nombre, id, edad)")

In [20]:
res = cur.execute("SELECT name FROM sqlite_master")
res.fetchone()

('personas',)

In [21]:
res = cur.execute("SELECT name FROM sqlite_master WHERE name='cargo'")
res.fetchone() is None

True

Ahora vamos a agregar datos a nuetra base de datos.

In [22]:
cur.execute("""
    INSERT INTO personas VALUES
        ('Jairo', 1, 23),
        ('Carlos', 2, 31)
""")
con.commit() ## El método execute deja la transaccion o proceso abierto, debemos utilizar el método commit para aplicar los cambios

In [23]:
res = cur.execute("SELECT nombre FROM personas")
res.fetchall()

[('Jairo',), ('Carlos',)]

In [24]:
data = [
    ('Alejandro', 3, 24),
    ('Camilo', 4, 17),
    ('Santiago', 5, 28)
]
cur.executemany("INSERT INTO personas VALUES(?, ?, ?)", data)
con.commit()

In [25]:
for row in cur.execute("SELECT nombre, edad FROM personas ORDER BY edad"):
    print(row)

('Camilo', 17)
('Jairo', 23)
('Alejandro', 24)
('Santiago', 28)
('Carlos', 31)

Podemos obtener los resultados de forma descendente.

In [26]:
for row in cur.execute("SELECT nombre, edad FROM personas ORDER BY edad DESC"):
    print(row)

('Carlos', 31)
('Santiago', 28)
('Alejandro', 24)
('Jairo', 23)
('Camilo', 17)

In [27]:
con.close()

## Aplicación utilizando Programación Orientada a Objetos (POO)

In [ ]:
class Empresa():

    def __init__(self, empleados = []):
        
        self.empleados = empleados

class Empleado():

    def __init__(self, nombre, cargo, fecha_inicio):

        self.nombre = nombre
        self.cargo = cargo
        self.fecha_inicio = fecha_inicio